.blackHeader {
  position: relative;
}

.pageContainer {
    display: flex;
    flex: 1;
    flex-direction: column;
    /* background-color: green; */
  }
/* 
  .mainContent {
    width: 100%;
    max-width: 900px;
    margin: auto;
} */




.contentContainer .row {
    display: flex;
    /* background-color: red; */
    /* margin: 0 20px; */
}

.contentContainer .square {
    width: 100%;
    margin: 0 50px;
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
}

.pageTopTitle {
    color: #BDBDBD;
    padding-top: 50px;
    font-weight: 200;
}

form {
  display: flex;
  flex-direction: column;
  /* background-color: blue; */
  max-width: 1000px;
  margin: 0 50px;
}

form input, textarea {
  padding: 10px;
  margin: 10px 0;
  background-color: white;
  border: 1px solid;
}

.bottomLeft {
  /* background-color: red; */
  max-width: 1000px;
  margin: auto !important;
}


.bottomLeft button {
    background-color: transparent;
    border: solid #10aeb3 1px;
    border-radius: 5px;
    padding: 12px;
    width: 30%;
    margin: auto;
    cursor: pointer;
    margin-bottom: 25px;
    margin-top: 20px;
}


.bottomLeft button:hover {
  background-color: #10aeb3;
  transition: .3s;
  color: white;
}


@media screen and (max-width: 500px) {

    .hide {
      display: none;
    }

    .heroContainer {
      position: relative;
      justify-content: center;
    }

     .welcome {
      position: absolute;
      background-color: white;
      color: black;
      align-self: center;
      padding: 20px;
      margin: auto;
    }
    
    .heroImage {
      flex: 2;
    }

    .two-column-list {
      grid-template-columns: repeat(1, 1fr); /* Creates two equal columns */
      padding-bottom: 0;
      margin-bottom: 0;
    }

    .topRight {
      display: none;
    }

    .row {
      flex-direction: column;
    }

    .square {
      width: 90% !important;
      margin: auto !important;
    }

    .map {
      margin: 20px 0;
    }

}