.footer {
    width: 100%;
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    color: white;
    position: relative;
    bottom: 0;
    background-color: white;
    padding: 60px 20px;
    box-sizing: border-box;
    justify-content: flex-start; /* Alinha os elementos ao início */
    align-items: flex-start; /* Alinha os elementos à esquerda */
    font-size: 13px;
}

.footerContent {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: flex-start; /* Alinha os itens ao topo */
    justify-content: flex-start; /* Alinha os itens à esquerda */
    flex-direction: column; /* Garante que os itens fiquem um abaixo do outro */
    margin-top: 50px;
}

.footer * {
    color: black;
}

.footer .socialMediaIconContainer {
    width: 15%;
    display: flex;
    justify-content: flex-start; /* Alinha os ícones à esquerda */
}

/* Attention */
.footer .socialIconFooter {
    fill: white;
    cursor: pointer;
}

.footerContent div {
    width: auto;
    min-height: 150px;
}

.footerContent div ul {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.footerContent div ul li {
    margin-top: 3px; /* Reduzi o espaço entre as linhas */
    display: flex;
    align-items: center;
}

.footerContent a {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.footer .divLine {
    width: 100%;
    height: 0.5px;
    background-color: #383535;
    margin: 20px 0;
}

.footer h3 {
    font-size: 16px !important;
    color: #000000;
    font-family: Manrope !important;
}

.footer .section div {
    width: 100%;
    margin: 10px;
}

.footer span {
    font-weight: bold;
    margin-right: 10px;
}

.footer .title {
    flex: 1;
}

.footer .content {
    display: flex;
    flex-direction: column;
    flex: 2;
}

.footer .flex {
    display: flex;
    margin-bottom: 60px;
}

.footer .logoContainer {
    justify-content: left;
    margin: 20px;
}

.footer img {
    position: absolute;
    top: 20px;
}

.logoSmallScren {
    width: 100%;
    height: 20px;
}

/* Responsivo */
@media screen and (max-width: 600px) {
    .footer {
        height: 100%;
    }

    .footerContent {
        flex-direction: column;
        align-items: flex-start; /* Mantém alinhado à esquerda no mobile */
        text-align: left;
        margin-top: 0;
    }

    .footerContent ul {
        align-items: flex-start;
    }

    .footer .socialMediaIconContainer {
        width: 30% !important; 
        display: flex;
        justify-content: flex-start;
        margin: 20px 0;        
    }

    .footer .socialMediaIconContainer {
        scale: 1.5;
    }

    .footer .hideLogo {
        margin-bottom: 50px;
    }

    .logoSmallScren {
        display: block;
    }

    .footer img {
        position: static;
        align-self: flex-start;
        margin: auto;
    }

    .socialMediaContainer {
        margin-top: 50px;
    }
}
