  
  /* Grid Layout for Services */
  .portfolioContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  @media screen and (max-width: 800px) {
    .portfolioContainer {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media screen and (max-width: 700px) {
    .portfolioContainer {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
    }
  }

  
  /* Service Card Styling */
  .portfolioContainer .projectCard {
    /* overflow: hidden; */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
    width: auto;
    width: 100%;
    /* background-color: red; */
    position: relative;
    display: flex;
  }
  
  .projectCard:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    cursor: pointer;
  }

  .projectCard:hover .titleContainer {
    opacity: 0;
    transition: .3s;
}


  .portfolioPageImg {
    border-radius: 10px;
    height: 100%;
    width: 100%;
  }

  .portfolioContainer .titleContainer {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.766);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  

  .projectCard h2 {
    color: white;
    position: absolute;
    /* top: 0; */
    
  }
  
  .projectCard p {
    padding: 0 15px;
    margin-bottom: 10px;
    font-size: 0.95rem;
    text-align: justify;
  }
  
